{% extends "base.html" %}

{% block content %}
<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap; /* 요소가 넘칠 경우 자동으로 다음 줄로 이동 */
    }
    
    .flex-item {
        flex: 0 0 calc(50% - 20px); /* 각 아이템의 너비를 50%로 설정하고 간격을 고려 */
        margin: 10px; /* 아이템 간격 설정 */
    }
</style>


<h1>INDEX PAGE</h1>
<hr>
<div class='flex-container'>
    {% for movie in movies %}
    <div class='flex-item'>
        <div class="card">
            <h5 class="card-header">{{movie.title}}</h5>
            <div class="card-body">
                <p class="card-text">{{movie.description}}</p>
                <a href="{% url "movies:detail" movie.pk %}" class="btn btn-primary">DETAIL</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}