{% extends 'base.html' %}

{% block content %}
<div>
  <div class="d-flex justify-content-between">
    <h1 class="mb-4">상세 페이지</h1>
  </div>
  <p>글번호 : {{ board.id }}</p>
  <p>글 작성자 : <a href="{% url "accounts:profile" board.author.nickname %}">{{ board.author.nickname}}</a></p>
  <p>글제목 : {{ board.title }}</p>
  <p>글내용 : {{ board.content }}</p>
  {% if board.image %}
    <img src="{{board.image.url}}" alt="image">
  {% endif %}
  <p>작성날짜 : {{ board.created_at }}</p>
  <p>수정날짜 : {{ board.updated_at }}</p>
  <hr>
  <p>좋아요 : {{board.like_users.all|length}}개</p>
  {% if request.user.is_authenticated %}
    {% load static %}
    <form action="{% url "boards:likes" board.pk %}" method='POST'>
      {% csrf_token %}
      {% if request.user in board.like_users.all %}
        <input type="image" src="{% static "sojugil.png" %}" alt="Like" style="width: 100px; height: 100px;">
      {% else %}
        <input type="image" src="{% static "justgil.png" %}" alt="UnLike" style="width: 100px; height: 100px;">
      {% endif %}
    </form>
  {% endif %}
  <hr>
  <div class="mb-5 d-flex justify-content-between">
    <a href="{% url 'boards:index' %}"><button class="btn btn-light">메인 페이지로</button></a>
    {% if board.author == request.user %}
      <div class="d-flex">
        <a href="{% url 'boards:update' board.id %}"><button class="me-3 btn btn-success">수정하기</button></a>
        <form action="{% url 'boards:detail' board.id%}" method='POST'>
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">삭제하기</button>
        </form>
      </div>
    {% endif %}
  </div>
  {% if request.user.is_authenticated %}
    <form action="{% url 'boards:comment' board.id %}" method='POST'>
      {% csrf_token %}
      <button class="btn btn-secondary" style="float: right;" type="submit">작성하기</button>
      {{ comment_form.as_p }}
    </form>
  {% endif %}

  <div class="mt-5">
    {% if comments|length == 0 %} 댓글이 없습니다.
    {% else %}
      {% for comment in comments %}
      <div class="my-3 d-flex justify-content-between">
        <div>
          <span>{{ comment.author.nickname}} - {{ comment.content }}</span>
          <span class="mx-5">({{ comment.created_at }})</span>
        </div>
          <div>
            {% if request.user == comment.author %}
              <form action="{% url 'boards:comment_detail' board.id comment.id %}" method='POST'>
                {% csrf_token %}
                <button class="btn btn-light">삭제하기</button>
              </form>
            {% endif %}
          </div>
        </div>
        <hr/>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}