{% extends "base.html" %}

{% block content %}
<h1>맛집 상세 정보</h1>
<div>식당 번호 : {{ restaurant.pk }} </div>
<div>식당 이름 : {{ restaurant.name }} </div>
<div>식당 설명 : {{ restaurant.description }} </div>
<div>식당 위치 : {{ restaurant.address }} </div>
<div>전화 번호 : {{ restaurant.phone_number }} </div>
<hr>

<a href="{% url "restaurants:edit" restaurant.pk %}">[UPDATE]</a>
<form action="{% url "restaurants:delete" restaurant.pk %}">
    {% csrf_token %}
    <input type="submit" value="DELETE">
</form>
<hr>
<a href="{% url "restaurants:restaurants" %}">[BACK]</a>
{% endblock content %}